<!doctype html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet"> 
    
    <title>avencer-theme</title>
    
    <!-- bootstrap style -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    
    <!-- verticalyScroll style -->
    <link rel="stylesheet" href="assets/css/verticalyScroll.css">
    
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    
    <!-- font-awesome style -->
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome-animation.min.css">
    
    <!-- slick  style -->
   <link rel="stylesheet" href="assets/css/slick-theme.css">
   <link rel="stylesheet" href="assets/css/slick.css">
    
    <!-- Custom  style -->
    <link rel="stylesheet" href="assets/css/style.css">
    
    
    
    
</head>

<body data-spy="scroll" data-target=".mainMenu" data-offset="1" ng-app="avencer" ng-cloak>
    
    <nav id="cd-vertical-nav">
        <ul>
            <li>
                <a href="#home" data-number="1"> <span class="cd-dot"></span> <span class="cd-label">Home</span> </a>
            </li>
            <li>
                <a href="#aboutWrap" data-number="2"> <span class="cd-dot"></span> <span class="cd-label">About</span> </a>
            </li>
            <li>
                <a href="#serviceWrap" data-number="3"> <span class="cd-dot"></span> <span class="cd-label">Services </span> </a>
            </li>
            <li>
                <a href="#ourPortfolioWrap" data-number="4"> <span class="cd-dot"></span> <span class="cd-label">Portfolio</span> </a>
            </li>
            <li>
                <a href="#teamWrap" data-number="5"> <span class="cd-dot"></span> <span class="cd-label">Team</span> </a>
            </li>
            <li>
                <a href="#contactWrap" data-number="6"> <span class="cd-dot"></span> <span class="cd-label">Contact</span> </a>
            </li>
        </ul>
    </nav>
    
    
    <header id="home" class="cd-section block">
    
        <section class="block headerTop">
            <article class="container-fluid">
                <figure class="row">
                    <figure class="col-md-12 col-sm-12 col-xs-12 text-center">
                        <div class="headerLogo">
                            <a href="javascript:viod(0)"><img src="assets/images/header-logo.png" alt="logo" class="img-responsive"></a>
                        
                            <div class="pull-right sideMenu">
                                <a href="javascript:viod(0)">
                                    <span class="sideMenuBar sideMenuBar-1"></span>
                                    <span class="sideMenuBar sideMenuBar-2"></span>
                                    <span class="sideMenuBar sideMenuBar-3"></span>
                                    <span class="sideMenuBar sideMenuBar-4"></span>
                                </a>
                            </div>
                            <!-- /.sideMenu -->
                            
                            <div class="sideMenuWrap">
                                <div class="sideMenu">
                                    <a href="javascript:viod(0)">
                                        <span class="sideMenuBar sideMenuBar-1"></span>
                                        <span class="sideMenuBar sideMenuBar-2"></span>
                                        <span class="sideMenuBar sideMenuBar-3"></span>
                                        <span class="sideMenuBar sideMenuBar-4"></span>
                                    </a>
                                </div>
                                <!-- /.sideMenu -->
                                
                                <ul class="mainMenu text-left">
                                    <li><a href="#home">Home</a></li>
                                    <li><a href="#aboutWrap">About us</a></li>
                                    <li><a href="#serviceWrap">Services</a></li>
                                    <li><a href="#ourPortfolioWrap">Portfolio</a></li>
                                    <li><a href="#teamWrap">Team</a></li>
                                    <li><a href="#contactWrap">Contact</a></li>
                                </ul>
                                
                            </div>
                        
                        
                        </div>
                        <!-- /.headerLogo -->
                        
                    </figure>
                    <!-- /.col -->
                </figure>
                <!-- /.row -->
            </article>
            <!-- /.container-fluid -->
        </section>
        <!-- /.headerTop -->
        
        
        <section class="block headerBottom">
            <article class="container-fluid">
                <figure class="row avencerSlider">
                    <figure class="col-md-12 avencerSliderItem">
                        <h2 class="text-center primary-color avencerTitle"><span>avencer</span> is best for creative startup</h2>
                        <p class="text-center primary-color avencerText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis. metus vitae ligula elementum ut luctus etse of metus lorem ipsum. </p>
                        <p class="text-center starBtn avencerBtn">
                            <button class="btn">Start a journey</button>
                        </p>
                    </figure>
                    <!-- /.col -->
                    <figure class="col-md-12 avencerSliderItem">
                        <h2 class="text-center primary-color avencerTitle"><span>avencer</span> is best for creative startup</h2>
                        <p class="text-center primary-color avencerText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis. metus vitae ligula elementum ut luctus etse of metus lorem ipsum. </p>
                        <p class="text-center starBtn avencerBtn">
                            <button class="btn">Start a journey</button>
                        </p>
                    </figure>
                    <!-- /.col -->
                </figure>
                <!-- /.row -->
            </article>
            <!-- /.container -->
        </section>
        <!-- /.headerBottom -->
        
        <a href="#aboutWrap" class="cd-scroll-down cd-img-replace">
            <span class="ellipseGroup">
                <span class="ellipseCircleGroup faa-float animated">
                    <span class="ellipseCircle"></span>
                    <span class="ellipseCircle"></span>
                    <span class="ellipseCircle"></span>
                </span>
            </span>
        </a>
        
        
    </header>
    <!-- /header -->
    
    
    <main class="block">
       
        <section id="aboutWrap" class="cd-section aboutWrap block">
            <div class="topFixedMenu" data-spy="affix" data-offset-top="815">
                <article class="container-fluid">
                    <figure class="row">
                        <figure class="col-md-6 col-sm-6 col-xs-12">
                            <div class="logo">
                                <a href="javascript:viod(0)"> <img src="assets/images/header-logo.png" alt="logo" class="img-responsive"> </a>
                            </div>
                            <!-- /.logo -->
                        </figure>
                        <!-- /.col -->
                        <figure class="col-md-6 col-sm-6 col-xs-12">
                            <div class="menuBar"> <span class="pull-right sideMenu">
                                    <a href="javascript:viod(0)">
                                        <span class="sideMenuBar sideMenuBar-1"></span> <span class="sideMenuBar sideMenuBar-2"></span> <span class="sideMenuBar sideMenuBar-3"></span> <span class="sideMenuBar sideMenuBar-4"></span> </a>
                                </span>
                                <!-- /.sideMenu -->
                            </div>
                            <!-- /.menuBar -->
                        </figure>
                        <!-- /.col -->
                    </figure>
                    <!-- /.row -->
                </article>
                <!-- /.container-fluid -->
            </div>
            <!-- /.topFixedMenu -->
            <div class="aboutBottom">
                <article class="container">
                    <figure class="row">
                        <figure class="col-md-6 col-sm-6 col-xs-12 aboutImg"> <img src="assets/images/about-img.png" alt="Img" class="img-responsive"> </figure>
                        <!-- /.aboutImg -->
                        <figure class="col-md-5 col-sm-5 col-xs-12 col-md-offset-1 col-sm-offset-1 aboutTextContent">
                            <h3 class="headingText aboutTitle brand-color"><span class="primary-color">About </span> avencer</h3>
                            <p class="aboutText primary-color">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed cursus turpis eu erat fermentum, eget posuere tellus elementum. Fusce quam nibh, luctus eget sem vel, porttitor maximus neque.</p>
                            <p class="aboutText primary-color">Proin ut libero purus. Sed sem ex, mattis nec aliquam ut, tincidunt sagittis justo. Nunc consequat faucibus ipsum, eu ultrices mauris molestie vel. Proin tristique purus ante, at tempus odio aliquam vel. Aenean laoreet est enim, ac lobortis nunc aliquet eget. Nulla vel lacinia ante.</p>
                            <p class="readMore avencerBtn">
                                <button class="btn">Read More</button>
                            </p>
                        </figure>
                        <!-- /.aboutTextContent -->
                    </figure>
                    <!-- /.row -->
                </article>
                <!-- /.container -->
            </div>
            <!-- /.aboutBottom -->
        </section>
        <!-- /.aboutWrap -->
        
        
        <section id="serviceWrap" class="block cd-section serviceWrap">
            <article class="container">
                <h3 class="headingText text-center serviseTitle brand-color"><span class="primary-color">Service of </span> avencer</h3>
                <figure class="row">
                    <figure class="col-md-6 col-sm-6 col-xs-12 serviceItem">
                        <div class="serviceImg">
                            <p class="serviceImgMiddle text-center"> <img src="assets/images/UI-Design.png" alt="icon" class="img-responsive"> </p>
                        </div>
                        <div class="serviceText">
                            <h4 class="primary-color serviceItemTitle">UI Design</h4>
                            <p class="primary-color serviceItemDetails">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis purus nunc, dignissim eu euismod at, pharetra tempor velit consectetur set.</p>
                        </div>
                    </figure>
                    <!-- /.serviceItem -->
                    <figure class="col-md-6 col-sm-6 col-xs-12 serviceItem">
                        <div class="serviceImg">
                            <p class="serviceImgMiddle text-center"> <img src="assets/images/Web-Design.png" alt="icon" class="img-responsive"> </p>
                        </div>
                        <div class="serviceText">
                            <h4 class="primary-color serviceItemTitle">Web Design</h4>
                            <p class="primary-color serviceItemDetails">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis purus nunc, dignissim eu euismod at, pharetra tempor velit.</p>
                        </div>
                    </figure>
                    <!-- /.serviceItem -->
                    <figure class="col-md-6 col-sm-6 col-xs-12 serviceItem">
                        <div class="serviceImg">
                            <p class="serviceImgMiddle text-center"> <img src="assets/images/Awesome-Support.png" alt="icon" class="img-responsive"> </p>
                        </div>
                        <div class="serviceText">
                            <h4 class="primary-color serviceItemTitle">Awesome Support</h4>
                            <p class="primary-color serviceItemDetails">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis purus nunc, dignissim eu euismod at, pharetra tempor velit purus nunc, dignissim eu euismod.</p>
                        </div>
                    </figure>
                    <!-- /.serviceItem -->
                    <figure class="col-md-6 col-sm-6 col-xs-12 serviceItem">
                        <div class="serviceImg">
                            <p class="serviceImgMiddle text-center"> <img src="assets/images/Fast-Delivery.png" alt="icon" class="img-responsive"> </p>
                        </div>
                        <div class="serviceText">
                            <h4 class="primary-color serviceItemTitle">Fast Delivery</h4>
                            <p class="primary-color serviceItemDetails">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis purus nunc, dignissim eu euismod at, pharetra tempor velit dolor sit amet, consect.</p>
                        </div>
                    </figure>
                    <!-- /.serviceItem -->
                </figure>
                <!-- /.row -->
            </article>
            <!-- /.container -->
        </section>
        <!-- /.serviceWrap -->
        
        
        <section class="block cd-section ourPortfolioWrap" id="ourPortfolioWrap">
            <article class="container">
                <h3 class="headingText text-center portfolioTitle brand-color"><span class="primary-color">Our </span> Portfolio</h3>
                <figure class="row">
                    <figure class="col-4 col-sm-4 col-xs-12 customPadding">
                        <div class="portfolioItem"> <img src="assets/images/portfolio-img-1.png" alt="Img" class="img-responsive">
                            <div class="portfolioText">
                                <div class="textMiddle">
                                    <h3 class="portfolioImgTitle text-center">Protfolio Title</h3>
                                    <p class="text-center portfolioName">- Graphic Design -</p>
                                </div>
                            </div>
                            <!-- /.portfolioText -->
                        </div>
                        <!-- /.portfolioItem -->
                        <div class="portfolioItem height-2"> <img src="assets/images/portfolio-img-4.png" alt="Img" class="img-responsive">
                            <div class="portfolioText">
                                <div class="textMiddle">
                                    <h3 class="portfolioImgTitle text-center">Protfolio Title</h3>
                                    <p class="text-center portfolioName">- Graphic Design -</p>
                                </div>
                            </div>
                            <!-- /.portfolioText -->
                        </div>
                        <!-- /.portfolioItem -->
                    </figure>
                    <!-- /.col -->
                    <figure class="col-4 col-sm-4 col-xs-12 customPadding">
                        <div class="portfolioItem"> <img src="assets/images/portfolio-img-2.png" alt="Img" class="img-responsive">
                            <div class="portfolioText">
                                <div class="textMiddle">
                                    <h3 class="portfolioImgTitle text-center">Protfolio Title</h3>
                                    <p class="text-center portfolioName">- Graphic Design -</p>
                                </div>
                            </div>
                            <!-- /.portfolioText -->
                        </div>
                        <!-- /.portfolioItem -->
                        <div class="portfolioItem"> <img src="assets/images/portfolio-img-5.png" alt="Img" class="img-responsive">
                            <div class="portfolioText">
                                <div class="textMiddle">
                                    <h3 class="portfolioImgTitle text-center">Protfolio Title</h3>
                                    <p class="text-center portfolioName">- Graphic Design -</p>
                                </div>
                            </div>
                            <!-- /.portfolioText -->
                        </div>
                        <!-- /.portfolioItem -->
                        <div class="portfolioItem"> <img src="assets/images/portfolio-img-6.png" alt="Img" class="img-responsive">
                            <div class="portfolioText">
                                <div class="textMiddle">
                                    <h3 class="portfolioImgTitle text-center">Protfolio Title</h3>
                                    <p class="text-center portfolioName">- Graphic Design -</p>
                                </div>
                            </div>
                            <!-- /.portfolioText -->
                        </div>
                        <!-- /.portfolioItem -->
                    </figure>
                    <!-- /.col -->
                    <figure class="col-4 col-sm-4 col-xs-12 customPadding">
                        <div class="portfolioItem height-2"> <img src="assets/images/portfolio-img-3.png" alt="Img" class="img-responsive">
                            <div class="portfolioText">
                                <div class="textMiddle">
                                    <h3 class="portfolioImgTitle text-center">Protfolio Title</h3>
                                    <p class="text-center portfolioName">- Graphic Design -</p>
                                </div>
                            </div>
                            <!-- /.portfolioText -->
                        </div>
                        <!-- /.portfolioItem -->
                        <div class="portfolioItem"> <img src="assets/images/portfolio-img-7.png" alt="Img" class="img-responsive">
                            <div class="portfolioText">
                                <div class="textMiddle">
                                    <h3 class="portfolioImgTitle text-center">Protfolio Title</h3>
                                    <p class="text-center portfolioName">- Graphic Design -</p>
                                </div>
                            </div>
                            <!-- /.portfolioText -->
                        </div>
                        <!-- /.portfolioItem -->
                    </figure>
                    <!-- /.col -->
                </figure>
                <!-- /.row -->
            </article>
            <!-- /.container -->
        </section>
        <!-- /.ourPortfolioWrap -->
        
        
        <section class="block cd-section teamWrap" id="teamWrap">
            <article class="container">
               
               <h3 class="headingText text-center teamTitle brand-color"><span class="primary-color">Meet  </span> avencer  <span class="primary-color noBorder">Experts  </span></h3>
               
               
                <figure class="row teamSlider">
                    <figure class="col-md-4 col-sm-4 col-xs-12 teamSliderItem">
                        <div class="teamSliderInner">
                        <img src="assets/images/team-slide-img-1.png" alt="Img" class="img-responsive">

                        <div class="teamHoverContent">
                            <h4 class="teamMemberName">Dylan Lucy</h4>
                            <p class="teamMemberTitle">Founder &amp; Co-Founder</p>
                            <ul class="teamMemberSocial">
                                <li><a href="javascript:viod(0)"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="javascript:viod(0)"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="javascript:viod(0)"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        <!-- /.teamHoverContent -->
                        </div>
                        <!-- /.teamSliderInner -->
                    </figure>
                    <!-- /.teamSliderItem -->
                    
                    <figure class="col-md-4 col-sm-4 col-xs-12 teamSliderItem marginTop">
                        <div class="teamSliderInner">
                            <img src="assets/images/team-slide-img-2.png" alt="Img" class="img-responsive">
                            
                            <div class="teamHoverContent">
                                <h4 class="teamMemberName">Dylan Lucy</h4>
                                <p class="teamMemberTitle">Founder &amp; Co-Founder</p>
                                <ul class="teamMemberSocial">
                                    <li><a href="javascript:viod(0)"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="javascript:viod(0)"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="javascript:viod(0)"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                            <!-- /.teamHoverContent -->
                        </div>
                        <!-- /.teamSliderInner -->
                    </figure>
                    <!-- /.teamSliderItem -->
                    
                    <figure class="col-md-4 col-sm-4 col-xs-12 teamSliderItem marginTop marginTopMore">
                        <div class="teamSliderInner">
                            <img src="assets/images/team-slide-img-1.png" alt="Img" class="img-responsive">
                            
                            <div class="teamHoverContent">
                                <h4 class="teamMemberName">Dylan Lucy</h4>
                                <p class="teamMemberTitle">Founder &amp; Co-Founder</p>
                                <ul class="teamMemberSocial">
                                    <li><a href="javascript:viod(0)"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="javascript:viod(0)"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="javascript:viod(0)"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                            <!-- /.teamHoverContent -->
                        </div>
                        <!-- /.teamSliderInner -->
                    </figure>
                    <!-- /.teamSliderItem -->
                    
                    <figure class="col-md-4 col-sm-4 col-xs-12 teamSliderItem">
                        <div class="teamSliderInner">
                        <img src="assets/images/team-slide-img-1.png" alt="Img" class="img-responsive">

                        <div class="teamHoverContent">
                            <h4 class="teamMemberName">Dylan Lucy</h4>
                            <p class="teamMemberTitle">Founder &amp; Co-Founder</p>
                            <ul class="teamMemberSocial">
                                <li><a href="javascript:viod(0)"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="javascript:viod(0)"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="javascript:viod(0)"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        <!-- /.teamHoverContent -->
                        </div>
                        <!-- /.teamSliderInner -->
                    </figure>
                    <!-- /.teamSliderItem -->
                    
                    <figure class="col-md-4 col-sm-4 col-xs-12 teamSliderItem marginTop">
                        <div class="teamSliderInner">
                            <img src="assets/images/team-slide-img-2.png" alt="Img" class="img-responsive">
                            
                            <div class="teamHoverContent">
                                <h4 class="teamMemberName">Dylan Lucy</h4>
                                <p class="teamMemberTitle">Founder &amp; Co-Founder</p>
                                <ul class="teamMemberSocial">
                                    <li><a href="javascript:viod(0)"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="javascript:viod(0)"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="javascript:viod(0)"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                            <!-- /.teamHoverContent -->
                        </div>
                        <!-- /.teamSliderInner -->
                    </figure>
                    <!-- /.teamSliderItem -->
                    
                    <figure class="col-md-4 col-sm-4 col-xs-12 teamSliderItem marginTop marginTopMore">
                        <div class="teamSliderInner">
                            <img src="assets/images/team-slide-img-1.png" alt="Img" class="img-responsive">
                            
                            <div class="teamHoverContent">
                                <h4 class="teamMemberName">Dylan Lucy</h4>
                                <p class="teamMemberTitle">Founder &amp; Co-Founder</p>
                                <ul class="teamMemberSocial">
                                    <li><a href="javascript:viod(0)"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="javascript:viod(0)"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="javascript:viod(0)"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                            <!-- /.teamHoverContent -->
                        </div>
                        <!-- /.teamSliderInner -->
                    </figure>
                    <!-- /.teamSliderItem -->
                    
                </figure>
                <!-- /.teamSlider -->
            </article>
            <!-- /.container -->
        </section>
        <!-- /.teamWrap -->
        
        
        <section class="block cd-section contactWrap" id="contactWrap">
            <article class="container-fluid">
                <figure class="row">
                    <figure class="col-md-6 col-sm-6 col-xs-12 map">
                        <div id="googleMap">
                            <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9199.473849936041!2d90.34303874132175!3d23.789651424886333!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjPCsDQ3JzIyLjkiTiA5MMKwMjAnNTYuMCJF!5e0!3m2!1sen!2sbd!4v1510646138028" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                        <!-- /#googleMap -->
                    </figure>
                    <!-- /.col -->
                    
                    
                    <figure class="col-md-6 col-sm-6 col-xs-12 contactForm">
                       
                        <h3 class="headingText text-center contactFormTitle brand-color"><span class="primary-color">Get Contact  </span> avencer </h3>
                       
                        <div class="row">
                            <div class="col-md-6 col-xs-12 contactAddress">
                                <p class="text-center contIcon brand-color">
                                    <i class="fa fa-map-marker"></i>
                                </p>
                                <h4 class="text-center addressTitle text-uppercase primary-color">ADDRESS</h4>
                                <p class="text-center adressText primary-color">25/A, King Street, Sit amet,</p>
                                <p class="text-center adressText primary-color">Lorem ipsum.</p>
                            </div>
                            <!-- /.contactAddress -->
                            <div class="col-md-6 col-xs-12 contactAddress">
                                <p class="text-center contIcon brand-color">
                                    <i class="fa fa-envelope "></i>
                                </p>
                                <h4 class="text-center addressTitle text-uppercase primary-color">Contact</h4>
                                <p class="text-center adressText primary-color">+8801722-364642</p>
                                <p class="text-center adressText primary-color">info@avencer.com</p>
                            </div>
                            <!-- /.contactAddress -->
                        </div>
                        <!-- /.row -->
                        

                        <div class="row">
                            <md-content layout-padding>
                                <form name="projectForm">
                                    <div layout="row" class="col-md-6 col-sm-6 col-xs-12">
                                        <md-input-container flex="100">
                                            <label>Your Name</label>
                                            <input required name="clientName" ng-model="project.clientName" type="text">
                                            
                                        </md-input-container>
                                    </div>
                                    <!-- /.col -->
                                    <div layout="row" class="col-md-6 col-sm-6 col-xs-12">
                                        <md-input-container flex="100">
                                            <label>Your Email</label>
                                            <input required name="clientEmail" ng-model="project.clientEmail" type="email">
                                            
                                        </md-input-container>
                                    </div>
                                    <!-- /.col -->
                                    <div layout="row" class="col-md-6 col-sm-6 col-xs-12">
                                        <md-input-container flex="100">
                                            <label>Your Phone</label>
                                            <input required name="clientPhone" ng-model="project.clientPhone" type="text">
                                            
                                        </md-input-container>
                                    </div>
                                    <!-- /.col -->
                                    <div layout="row" class="col-md-6 col-sm-6 col-xs-12">
                                        <md-input-container flex="100">
                                            <label>Subject</label>
                                            <input required name="clientSubject" ng-model="project.clientSubject" type="text">
                                            
                                        </md-input-container>
                                    </div>
                                    <!-- /.col -->
                                    <div layout="row" class="col-md-12 col-sm-12 col-xs-12">
                                        <md-input-container flex="100">
                                            <label>Message</label>
                                            <textarea required name="clientmessage" ng-model="project.clientmessage" class="message" ></textarea>
                                            
                                        </md-input-container>
                                    </div>
                                    <!-- /.col -->
                                    <div layout="row" class="col-md-12 col-sm-12 col-xs-12">
                                        <p class="sendBtn avencerBtn text-right">
                                            <button class="btn">Send Message</button>
                                        </p>
                                    </div>
                                    <!-- /.col -->
                                </form>
                                
                            </md-content>
                            
                        </div>
                        <!-- /.row -->
                        
                    </figure>
                    <!-- /.col -->
                </figure>
                <!-- /.row -->
            </article>
            <!-- /.container-fluid -->
        </section>
        <!-- /.contactWrap -->
        
        
    </main>
    <!-- /main -->
    
    
    
    
    <footer class="block">
        <article class="container">
            <figure class="row">
                <figure class="col-md-12 col-sm-12 col-xs-12">
                    <ul class="footerSocialMenu text-center">
                        <li><a href="javascript:viod(0)"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="javascript:viod(0)"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="javascript:viod(0)"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="javascript:viod(0)"><i class="fa fa-pinterest "></i></a></li>
                        <li><a href="javascript:viod(0)"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                    <!-- /.footerSocialMenu -->
                    
                    <p class="text-center copyText">Copyright © 2017 <a href="javascript:viod(0)">avencer theme</a>, All Rights Reserved.</p>
                    
                </figure>
                <!-- /.col -->
            </figure>
            <!-- /.row -->
        </article>
        <!-- /.container -->
    </footer>
    <!-- /footer -->
    
    
    
    
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/verticalyScroll.js"></script>
    <script src="assets/js/modernizr.js"></script>
    <script src="assets/js/slick.min.js"></script>
    <script src="assets/js/main.js"></script>
    
    <script>
        function myMap() {
            var mapCanvas = document.getElementById("googleMap");
            var myCenter = new google.maps.LatLng(23.789655, 90.348881);
            var mapOptions = {
                center: myCenter
                , zoom: 18
            };
            var map = new google.maps.Map(mapCanvas, mapOptions);
            var marker = new google.maps.Marker({
                position: myCenter,
                animation: google.maps.Animation.BOUNCE,
                icon: 'assets/images/avencer-pin1.png'
            });
            marker.setMap(map);
        }
    </script>
    
    
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJaVM3ESMQJh7WOzhjZBFrLZ3bc7H2XZ8&callback=myMap"></script>
    
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <script src="assets/js/theme.angular.material.js"></script>
    
    
</body>

</html>