@charset "UTF-8";
/*@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');*/
@font-face {
  font-family: 'Lato-Heavy';
  src: url("../fonts/Lato-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Heavy.woff") format("woff"), url("../fonts/Lato-Heavy.ttf") format("truetype"), url("../fonts/Lato-Heavy.svg#Lato-Heavy") format("svg");
  font-weight: normal;
  font-style: normal; }
.primary-color {
  color: #ffffff; }

.brand-color {
  color: #005bea; }

.brand-secondary-color {
  color: #00c6fb; }

.dark-color {
  color: #1b1b1b; }

.gray-dark-color {
  color: #657387; }

.gray-color {
  color: #f2f6f8; }

.gray-light-color {
  color: #f5f7fa; }

.yellow-gray-color {
  color: #f9f7f5; }

.green-gray-color {
  color: #f5f7f3; }

.link-color {
  color: #14bff9; }

.btn-blue-color {
  color: #37b6ff; }

.btn-green-color {
  color: #14d6e8; }

.btn-default-color {
  color: #2b62c9; }

.p-text-color {
  color: #737779; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

.lato {
  font-family: "Lato", sans-serif; }

.lato-heavy {
  font-family: "Lato-Heavy"; }

p {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400; }

a {
  text-decoration: none;
  color: #14bff9; }

.underline {
  text-decoration: underline !important; }

a:hover {
  color: #005bea; }

a:focus {
  outline: none !important; }

a.link {
  color: #14bff9; }

a.link:hover {
  color: #005bea !important; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("../../fonts/slick.eot");
  src: url("../../fonts/slick.eot?#iefix") format("embedded-opentype"), url("../../fonts/slick.woff") format("woff"), url("../../fonts/slick.ttf") format("truetype"), url("../../fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px\9;
  /*lte IE 8*/
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }

.slick-prev:before, .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

h1, h2.h3, h4, h5, h6, p {
  margin: 0; }

body {
  background: #ffffff;
  font-family: "Lato", sans-serif; }

.row {
  margin-bottom: 0; }

.btn_global {
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.mbShow {
  display: none; }

/* End global style  */
.WPERP_header {
  background: transparent;
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  z-index: 1000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  .WPERP_header .navbar {
    padding: 15px 0;
    -webkit-transition: padding 0.3s;
    transition: padding 0.3s; }
    .WPERP_header .navbar .navbar-brand img {
      max-width: 145px; }
    .WPERP_header .navbar .navbar-nav .nav-item {
      padding: 5px; }
      .WPERP_header .navbar .navbar-nav .nav-item .nav-link {
        color: #ffffff;
        font-family: "Lato", sans-serif;
        font-size: 16px;
        line-height: 18px;
        font-weight: 400;
        padding: 6px 10px;
        -webkit-transition: all 0.3s;
        transition: all 0.3s; }
      .WPERP_header .navbar .navbar-nav .nav-item .nav-link:hover,
      .WPERP_header .navbar .navbar-nav .nav-item .nav-link:active,
      .WPERP_header .navbar .navbar-nav .nav-item .nav-link:focus {
        color: #4bcdfd;
        background: #1570ec;
        background: -webkit-gradient(linear, left top, right top, from(#1570ec), to(#0a6aec));
        background: linear-gradient(to right, #1570ec 0%, #0a6aec 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1570ec', endColorstr='#0a6aec',GradientType=1 ); }
    .WPERP_header .navbar .navbar-nav .joinFreeBtn .nav-link,
    .WPERP_header .navbar .navbar-nav .signInBtn .nav-link {
      color: #4ed3ff;
      border-width: 1px;
      border-style: solid;
      border-color: transparent;
      border-radius: 4px;
      padding: 8px 12px; }
    .WPERP_header .navbar .navbar-nav .joinFreeBtn .nav-link:hover,
    .WPERP_header .navbar .navbar-nav .joinFreeBtn .nav-link:focus,
    .WPERP_header .navbar .navbar-nav .joinFreeBtn .nav-link:active,
    .WPERP_header .navbar .navbar-nav .signInBtn .nav-link:hover,
    .WPERP_header .navbar .navbar-nav .signInBtn .nav-link:focus,
    .WPERP_header .navbar .navbar-nav .signInBtn .nav-link:active {
      border-color: #4ed3ff;
      background: transparent; }
    .WPERP_header .navbar .navbar-nav .signInBtn .nav-link {
      padding-left: 20px;
      padding-right: 20px;
      background: #ffffff;
      color: #2b62c9; }
    .WPERP_header .navbar .navbar-nav .signInBtn .nav-link:hover,
    .WPERP_header .navbar .navbar-nav .signInBtn .nav-link:focus,
    .WPERP_header .navbar .navbar-nav .signInBtn .nav-link:active {
      background: #ffffff;
      color: #2b62c9;
      border-color: transparent;
      -webkit-box-shadow: 5px 8px 18px 0px rgba(0, 23, 65, 0.12);
      box-shadow: 5px 8px 18px 0px rgba(0, 23, 65, 0.12); }
    .WPERP_header .navbar .navbar-nav .dropdown .dropdown-toggle {
      padding-right: 32px; }
    .WPERP_header .navbar .navbar-nav .dropdown .dropdown-toggle::after {
      content: url(../images/down-arrow.png);
      border: none;
      position: absolute;
      top: 8px;
      right: 25px; }
    .WPERP_header .navbar .navbar-nav .dropdown .dropdown-menu {
      background: #ffffff;
      padding: 10px 0;
      margin: 0;
      left: 6px;
      min-width: 255px;
      border: none;
      -webkit-box-shadow: -5px 9px 25px 0px rgba(0, 0, 0, 0.2);
      box-shadow: -5px 9px 25px 0px rgba(0, 0, 0, 0.2); }
      .WPERP_header .navbar .navbar-nav .dropdown .dropdown-menu .dropdown-item {
        padding: 0 10px; }
        .WPERP_header .navbar .navbar-nav .dropdown .dropdown-menu .dropdown-item a {
          display: block;
          color: #737779;
          font-size: 16px;
          font-weight: 400;
          line-height: 35px;
          padding: 10px;
          border: 1px solid rgba(185, 189, 149, 0);
          border-radius: 4px; }
          .WPERP_header .navbar .navbar-nav .dropdown .dropdown-menu .dropdown-item a img {
            max-width: 29px;
            margin-right: 15px;
            margin-top: -4px; }
      .WPERP_header .navbar .navbar-nav .dropdown .dropdown-menu .dropdown-item:hover {
        background: transparent; }
        .WPERP_header .navbar .navbar-nav .dropdown .dropdown-menu .dropdown-item:hover a {
          background: #f7fbfd;
          color: #000000;
          border: 1px solid rgba(185, 189, 149, 0.25);
          text-decoration: none; }
    .WPERP_header .navbar .navbar-nav .dropdown.show .dropdown-toggle::after {
      content: url(../images/up-arrow.png); }

.WPERP_header.sticky_nav {
  background: #005bea;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 23, 65, 0.25);
  box-shadow: 0px 5px 10px 0px rgba(0, 23, 65, 0.14); }
  .WPERP_header.sticky_nav .navbar {
    padding: 10px 0; }

.WPERP_main_content .hero_section {
  padding-top: 120px;
  padding-bottom: 135px;
  background: #005bea;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #005bea), to(#00c6fb));
  background: linear-gradient(to bottom, #005bea 1%, #00c6fb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005bea', endColorstr='#00c6fb',GradientType=0 ); }
  .WPERP_main_content .hero_section .hero_text {
    padding-right: 0px;
    margin-bottom: 40px;
    max-width: 485px; }
    .WPERP_main_content .hero_section .hero_text .title {
      color: #ffffff;
      font-family: "Lato", sans-serif;
      font-size: 51px;
      line-height: 70px;
      font-weight: 700;
      letter-spacing: 0.012em;
      text-shadow: 8px 15px 30px rgba(0, 0, 0, 0.14);
      margin-top: 120px; }
    .WPERP_main_content .hero_section .hero_text .subtitle {
      color: #c0ebff;
      font-family: "Lato", sans-serif;
      font-size: 32px;
      line-height: 45px;
      font-weight: 400;
      margin: 10px 0 18px; }
      .WPERP_main_content .hero_section .hero_text .subtitle a {
        color: #57ddff; }
    .WPERP_main_content .hero_section .hero_text .text {
      color: #a4e2ff;
      font-family: "Lato", sans-serif;
      font-size: 18px;
      line-height: 26px;
      font-weight: 400; }
    .WPERP_main_content .hero_section .hero_text .btnGroup {
      margin-top: 45px;
      float: left;
      width: 100%; }
      .WPERP_main_content .hero_section .hero_text .btnGroup a {
        color: #ffffff;
        background: #005bea;
        font-family: "Lato", sans-serif;
        font-size: 16px;
        line-height: 18px;
        font-weight: 300;
        padding: 12px 20px;
        margin-right: 15px;
        border-radius: 4px;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        margin-top: 10px;
        margin-bottom: 10px;
        display: inline-block; }
        .WPERP_main_content .hero_section .hero_text .btnGroup a img {
          margin-right: 10px;
          margin-top: -3px; }
      .WPERP_main_content .hero_section .hero_text .btnGroup a:hover {
        text-decoration: none;
        -webkit-box-shadow: 5px 8px 25px 0px rgba(0, 23, 65, 0.2);
        box-shadow: 5px 8px 25px 0px rgba(0, 23, 65, 0.2); }
      .WPERP_main_content .hero_section .hero_text .btnGroup .download {
        background: #14d6e8; }
      .WPERP_main_content .hero_section .hero_text .btnGroup .demo {
        background: #37b6ff; }
      .WPERP_main_content .hero_section .hero_text .btnGroup .docmnt {
        background: transparent;
        margin-right: 0;
        padding-right: 0;
        padding-left: 10px;
        text-decoration: underline; }
      .WPERP_main_content .hero_section .hero_text .btnGroup .docmnt:hover {
        -webkit-box-shadow: none;
                box-shadow: none; }
  .WPERP_main_content .hero_section .hero_img {
    position: relative; }
.WPERP_main_content .overview_wraper {
  padding-bottom: 60px; }
  .WPERP_main_content .overview_wraper .trusted_wrap {
    background: #ffffff;
    max-width: 780px;
    margin: -33px auto 110px;
    border-radius: 5px;
    padding: 50px 20px 42px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2); }
    .WPERP_main_content .overview_wraper .trusted_wrap img {
      display: inline-block;
      margin-right: 22px;
      margin-top: -10px; }
    .WPERP_main_content .overview_wraper .trusted_wrap h4 {
      display: inline-block;
      color: #b7bec2;
      font-size: 25px;
      font-weight: 400;
      letter-spacing: 0.012em; }
      .WPERP_main_content .overview_wraper .trusted_wrap h4 a {
        color: #14bff9;
        text-decoration: none; }
  .WPERP_main_content .overview_wraper .overview_cont {
    margin-bottom: 20px; }
    .WPERP_main_content .overview_wraper .overview_cont .item .item_inner {
      background: #ffffff;
      text-align: center;
      border-width: 1px;
      border-style: solid;
      border-color: #e5eced;
      padding: 20px 44px;
      border-radius: 5px;
      margin-bottom: 30px; }
      .WPERP_main_content .overview_wraper .overview_cont .item .item_inner .img {
        margin: 0; }
      .WPERP_main_content .overview_wraper .overview_cont .item .item_inner .title {
        color: #1b1b1b;
        font-size: 25px;
        line-height: 32px;
        font-weight: 600;
        margin-top: -15px;
        margin-bottom: 25px; }
      .WPERP_main_content .overview_wraper .overview_cont .item .item_inner .over_text {
        color: #737779;
        font-size: 16px;
        line-height: 24px;
        font-weight: 300;
        min-height: 130px; }
    .WPERP_main_content .overview_wraper .overview_cont .item .item_inner.active {
      background: #005bea;
      background: -webkit-gradient(linear, left top, left bottom, from(#005bea), to(#00c6fb));
      background: linear-gradient(to bottom, #005bea 0%, #00c6fb 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005bea', endColorstr='#00c6fb',GradientType=0 );
      -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 100, 235, 0.25);
      box-shadow: 0px 0px 25px 0px rgba(0, 100, 235, 0.25); }
      .WPERP_main_content .overview_wraper .overview_cont .item .item_inner.active .title,
      .WPERP_main_content .overview_wraper .overview_cont .item .item_inner.active .over_text {
        color: #ffffff; }
.WPERP_main_content .module_wraper {
  background: #f5f7f3;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: #dce7f1;
  padding: 155px 0 135px; }
  .WPERP_main_content .module_wraper .module_img {
    position: relative; }
    .WPERP_main_content .module_wraper .module_img .scrn_img {
      position: relative;
      -webkit-box-shadow: 11px 17px 30px 0px rgba(38, 57, 37, 0.2);
      box-shadow: 11px 17px 30px 0px rgba(38, 57, 37, 0.2); }
    .WPERP_main_content .module_wraper .module_img .mdl_icon {
      position: absolute;
      top: -62px;
      max-width: 150px; }
  .WPERP_main_content .module_wraper .module_text .title {
    color: #1b1b1b;
    font-size: 36px;
    line-height: 50px;
    font-family: "Lato-Heavy";
    letter-spacing: 0.012em;
    margin: 15px 0; }
  .WPERP_main_content .module_wraper .module_text .text {
    color: #737779;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    font-family: "Lato", sans-serif;
    letter-spacing: 0.02em; }
  .WPERP_main_content .module_wraper .module_text .module_accordion {
    margin-top: 35px; }
    .WPERP_main_content .module_wraper .module_text .module_accordion .card {
      background: #ffffff;
      border: 2px solid #e5eced;
      border-radius: 6px;
      margin-top: 15px; }
      .WPERP_main_content .module_wraper .module_text .module_accordion .card .card-header {
        background: transparent;
        padding: 0;
        border-bottom: 0; }
        .WPERP_main_content .module_wraper .module_text .module_accordion .card .card-header .btn-link {
          color: #1b1b1b;
          font-size: 20px;
          line-height: 30px;
          font-weight: 700;
          font-family: "Lato", sans-serif;
          letter-spacing: 0.012em;
          text-decoration: none;
          display: block;
          -webkit-transition: all 0.3s;
          transition: all 0.3s;
          padding-right: 15px; }
          .WPERP_main_content .module_wraper .module_text .module_accordion .card .card-header .btn-link img {
            max-width: 65px;
            margin: 0 4px 0 15px; }
        .WPERP_main_content .module_wraper .module_text .module_accordion .card .card-header .btn-link:hover,
        .WPERP_main_content .module_wraper .module_text .module_accordion .card .card-header .btn-link:focus {
          text-decoration: none;
          color: #737779; }
      .WPERP_main_content .module_wraper .module_text .module_accordion .card .card-body {
        background: transparent;
        padding: 0 40px; }
        .WPERP_main_content .module_wraper .module_text .module_accordion .card .card-body .text {
          color: #737779;
          font-size: 16px;
          line-height: 24px;
          font-weight: 300;
          font-family: "Lato", sans-serif;
          letter-spacing: 0.02em;
          margin-left: 50px;
          margin-top: -8px;
          margin-bottom: 24px; }
  .WPERP_main_content .module_wraper .module_text .view_details {
    margin-top: 40px; }
    .WPERP_main_content .module_wraper .module_text .view_details .btn {
      color: #458200;
      background: #dde7d7;
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      font-family: "Lato", sans-serif;
      display: inline-block;
      padding: 12px 32px;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
    .WPERP_main_content .module_wraper .module_text .view_details .btn:hover,
    .WPERP_main_content .module_wraper .module_text .view_details .btn:focus {
      color: #ffffff;
      background: #5dae00; }
  .WPERP_main_content .module_wraper .module_text .crm .btn {
    color: #2b62c9;
    background: #e0e8f7; }
  .WPERP_main_content .module_wraper .module_text .crm .btn:hover,
  .WPERP_main_content .module_wraper .module_text .crm .btn:focus {
    color: #ffffff;
    background: #2b62c9; }
  .WPERP_main_content .module_wraper .module_text .getBalanced .btn {
    color: #ba8c61;
    background: #eae3dc; }
  .WPERP_main_content .module_wraper .module_text .getBalanced .btn:hover,
  .WPERP_main_content .module_wraper .module_text .getBalanced .btn:focus {
    color: #ffffff;
    background: #ba8c61; }
  .WPERP_main_content .module_wraper .rightPad {
    padding-right: 65px; }
    .WPERP_main_content .module_wraper .rightPad .mdl_icon {
      right: 0; }
  .WPERP_main_content .module_wraper .leftPad {
    padding-left: 76px; }
    .WPERP_main_content .module_wraper .leftPad .mdl_icon {
      left: 0; }
.WPERP_main_content .CRM_wrap {
  background: #ffffff; }
.WPERP_main_content .getBalanced_wrap {
  background: #f9f7f5; }
  .WPERP_main_content .getBalanced_wrap .module_text .title {
    color: #4a3e33; }
  .WPERP_main_content .getBalanced_wrap .module_text .text {
    color: #93806e; }
  .WPERP_main_content .getBalanced_wrap .module_text .module_accordion .card {
    border-color: #f4ede5; }
.WPERP_main_content .reviewsClients_wraper {
  background: #f5f7fa;
  padding: 95px 0; }
  .WPERP_main_content .reviewsClients_wraper .reviews_title {
    color: #1b1b1b;
    font-size: 36px;
    line-height: 50px;
    font-family: "Lato-Heavy";
    letter-spacing: 0.012em;
    margin-bottom: 55px; }
  .WPERP_main_content .reviewsClients_wraper .testimonial_item .item_inner {
    background: #ffffff;
    border-radius: 5px;
    padding: 30px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin: 15px 0; }
    .WPERP_main_content .reviewsClients_wraper .testimonial_item .item_inner .imgWrap {
      height: 107px;
      width: 107px;
      background: #ffffff;
      margin: 0 auto;
      border-radius: 50%;
      border: 5px solid #ffffff;
      -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); }
      .WPERP_main_content .reviewsClients_wraper .testimonial_item .item_inner .imgWrap img {
        width: 100%;
        border-radius: 50%; }
    .WPERP_main_content .reviewsClients_wraper .testimonial_item .item_inner .textWrap .text,
    .WPERP_main_content .reviewsClients_wraper .testimonial_item .item_inner .textWrap .desig {
      font-size: 16px;
      line-height: 24px;
      font-weight: 300;
      font-family: "Lato", sans-serif;
      letter-spacing: 0.02em; }
    .WPERP_main_content .reviewsClients_wraper .testimonial_item .item_inner .textWrap .text {
      color: #8a8a8a;
      position: relative;
      padding: 25px 0;
      margin-bottom: 5px; }
    .WPERP_main_content .reviewsClients_wraper .testimonial_item .item_inner .textWrap .text:before {
      content: url(../images/quotation-left.png);
      position: absolute;
      left: 0;
      top: -25px; }
    .WPERP_main_content .reviewsClients_wraper .testimonial_item .item_inner .textWrap .text:after {
      content: url(../images/quotation-right.png);
      position: absolute;
      right: 0;
      bottom: -4px; }
    .WPERP_main_content .reviewsClients_wraper .testimonial_item .item_inner .textWrap .name {
      color: #616161;
      font-size: 20px;
      line-height: 28px;
      font-weight: 300;
      font-family: "Lato", sans-serif; }
    .WPERP_main_content .reviewsClients_wraper .testimonial_item .item_inner .textWrap .desig {
      color: #2b62c9;
      margin-bottom: -3px; }
  .WPERP_main_content .reviewsClients_wraper .testimonial_item .item_inner:hover {
    -webkit-box-shadow: -2px 9px 20px 0px rgba(0, 0, 0, 0.13);
    box-shadow: -2px 9px 20px 0px rgba(0, 0, 0, 0.13); }
  .WPERP_main_content .reviewsClients_wraper .readAll_testimonial .btn {
    color: #ffffff;
    background: #2b62c9;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    font-family: "Lato", sans-serif;
    padding: 15px 31px;
    border-radius: 4px;
    margin: 50px 0 70px; }
  .WPERP_main_content .reviewsClients_wraper .readAll_testimonial .btn:hover {
    background: #005bea;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25); }
.WPERP_main_content .supercharge_wraper {
  padding: 50px 0 108px;
  position: relative;
  background: #00c6fb;
  background: -webkit-gradient(linear, left top, right top, from(#00c6fb), to(#005bea));
  background: linear-gradient(to right, #00c6fb 0%, #005bea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c6fb', endColorstr='#005bea',GradientType=1 ); }
  .WPERP_main_content .supercharge_wraper .container {
    z-index: 1;
    position: relative; }
  .WPERP_main_content .supercharge_wraper .callToAction {
    width: 162px;
    height: 162px;
    background: white;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.4)), to(rgba(65, 180, 248, 0.2)));
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(65, 180, 248, 0.2) 100%);
    margin: -143px auto 62px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    .WPERP_main_content .supercharge_wraper .callToAction a {
      display: inline-block;
      background: #ffffff;
      border-radius: 50%;
      padding: 34px;
      margin-top: 28px; }
      .WPERP_main_content .supercharge_wraper .callToAction a img {
        max-width: 42px; }
  .WPERP_main_content .supercharge_wraper .callToAction:hover {
    background: white;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(65, 180, 248, 0.3)));
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(65, 180, 248, 0.3) 100%); }
  .WPERP_main_content .supercharge_wraper .title {
    color: #ffffff;
    font-family: "Lato", sans-serif;
    font-size: 51px;
    line-height: 70px;
    font-weight: 900;
    letter-spacing: 0.012em; }
  .WPERP_main_content .supercharge_wraper .subtitle {
    color: #c0ebff;
    font-family: "Lato", sans-serif;
    font-size: 30px;
    line-height: 44px;
    font-weight: 300;
    margin: 10px 0 35px; }
    .WPERP_main_content .supercharge_wraper .subtitle a {
      color: #57ddff;
      text-decoration: none; }
  .WPERP_main_content .supercharge_wraper .getStarted .btn {
    background: #ffffff;
    color: #2b62c9;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    padding: 15px 31px;
    border-radius: 4px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-shadow: 0px 12px 30px 0px rgba(86, 86, 86, 0.3);
    box-shadow: 0px 12px 30px 0px rgba(86, 86, 86, 0.3); }
  .WPERP_main_content .supercharge_wraper .getStarted .btn:hover {
    background: #005bea;
    color: #ffffff; }
.WPERP_main_content .supercharge_wraper:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: url(../images/supercharge-bg.png) no-repeat center bottom/120% auto; }

.WPERP_footer {
  background: #ffffff; }
  .WPERP_footer .footer_top {
    padding: 128px 0 100px; }
    .WPERP_footer .footer_top .itemCol .title {
      color: #1b1b1b;
      font-size: 23px;
      line-height: 30px;
      font-family: "Lato-Heavy";
      margin-bottom: 28px; }
    .WPERP_footer .footer_top .itemCol .menu_list {
      padding: 0;
      margin: 0; }
      .WPERP_footer .footer_top .itemCol .menu_list li {
        list-style: none;
        display: block;
        padding: 5px 0; }
        .WPERP_footer .footer_top .itemCol .menu_list li a {
          color: #657387;
          font-size: 16px;
          line-height: 24px;
          font-weight: 300;
          font-family: "Lato", sans-serif; }
        .WPERP_footer .footer_top .itemCol .menu_list li a:hover,
        .WPERP_footer .footer_top .itemCol .menu_list li a:focus {
          color: #005bea;
          text-decoration: none; }
    .WPERP_footer .footer_top .itemCol .form-group {
      margin-bottom: 20px; }
      .WPERP_footer .footer_top .itemCol .form-group .form-control {
        color: #1b1b1b;
        font-size: 16px;
        line-height: 24px;
        font-weight: 300;
        font-family: "Lato", sans-serif;
        padding: 10px 20px;
        background: #f2f6f9;
        border: 1px solid #e9e9e9;
        border-radius: 4px; }
    .WPERP_footer .footer_top .itemCol .btn-subscribe {
      background: #2b62c9;
      color: #ffffff;
      border-radius: 4px;
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
      font-family: "Lato", sans-serif;
      text-transform: uppercase;
      padding: 10px 30px;
      min-width: 179px;
      text-align: center;
      -webkit-box-shadow: 5px 8px 25px 0px rgba(0, 23, 65, 0.2);
      box-shadow: 5px 8px 25px 0px rgba(0, 23, 65, 0.2); }
    .WPERP_footer .footer_top .itemCol .btn-subscribe:hover,
    .WPERP_footer .footer_top .itemCol .btn-subscribe:focus {
      background: #005bea; }
  .WPERP_footer .footer_copyright {
    background: #f2f6f8;
    border-top: 1px solid #dce7f1;
    padding: 23px 0; }
    .WPERP_footer .footer_copyright .social_icon {
      display: inline-block; }
      .WPERP_footer .footer_copyright .social_icon a {
        color: #657387;
        font-size: 18px;
        line-height: 18px;
        margin-right: 10px; }
      .WPERP_footer .footer_copyright .social_icon a:hover,
      .WPERP_footer .footer_copyright .social_icon a:focus {
        color: #0c87fb; }
    .WPERP_footer .footer_copyright .copyright_text {
      display: inline-block;
      color: #657387;
      font-size: 16px;
      font-weight: 300;
      line-height: 21px;
      font-family: "Lato", sans-serif; }

@media (min-width: 1367px) {
  .WPERP_main_content .hero_section .hero_img img {
    max-width: 764px;
    bottom: -5px;
    position: absolute;
    left: 40px; }
  .WPERP_main_content .module_wraper .module_img .scrn_img {
    position: absolute;
    top: 0;
    max-width: 780px; }
  .WPERP_main_content .module_wraper .rightPad .scrn_img {
    right: 65px; }
  .WPERP_main_content .module_wraper .leftPad .scrn_img {
    left: 65px; }
  .WPERP_main_content .supercharge_wraper:after {
    background-size: 100% auto; } }
/*====--End of @media (min-width:1367px)--====*/
@media (max-width: 1366px) {
  .WPERP_main_content .hero_section .hero_img img {
    max-width: 700px; } }
/*====--End of  @media (max-width:1366px) --====*/
/*====--End of @media (min-width:768px) and (max-width:1024px)--====*/
/*====--End of @media (min-width:992px) and (max-width:1024px) --====*/
@media (max-width: 1170px) {
  .WPERP_main_content .hero_section {
    padding-bottom: 60px; }
    .WPERP_main_content .hero_section .hero_text .title {
      margin-top: 20px; }
    .WPERP_main_content .hero_section .hero_img img {
      max-width: 100%; } }
/*====--End of @media (max-width:1170px)--====*/
@media (max-width: 991px) {
  .WPERP_header {
    background: #005bea; }
    .WPERP_header .navbar .navbar-toggler {
      background: transparent;
      border-width: 1px;
      border-style: solid;
      border-color: #4ed3ff;
      border-radius: 4px;
      padding: 5px 12px; }
      .WPERP_header .navbar .navbar-toggler .fa {
        color: #4ed3ff;
        font-size: 18px;
        line-height: 19px; }
    .WPERP_header .navbar .navbar-toggler:hover {
      background: #ffffff;
      border-color: #ffffff; }
      .WPERP_header .navbar .navbar-toggler:hover .fa {
        color: #005bea; }
    .WPERP_header .navbar .navbar-nav {
      margin-top: 20px; }

  .WPERP_main_content .hero_section {
    padding-bottom: 60px; }
    .WPERP_main_content .hero_section .hero_text .title {
      font-size: 36px;
      line-height: 50px; }
    .WPERP_main_content .hero_section .hero_text .subtitle {
      font-size: 22px;
      line-height: 40px; }
    .WPERP_main_content .hero_section .hero_text .text {
      font-size: 14px;
      line-height: 24px; }
    .WPERP_main_content .hero_section .hero_text .btnGroup {
      margin-top: 30px; }
  .WPERP_main_content .module_wraper .module_text,
  .WPERP_main_content .module_wraper .module_img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-top: 15px;
    padding-bottom: 15px; }
  .WPERP_main_content .module_wraper .leftPad {
    padding-left: 15px; }
  .WPERP_main_content .module_wraper .module_text.rightPad {
    padding-right: 15px; }
  .WPERP_main_content .module_wraper .module_img.leftPad {
    margin-top: 100px; }
  .WPERP_main_content .reviewsClients_wraper .testimonial_item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; } }
/*====--End of @media (max-width:991px)--====*/
/*====--End of min-width:768px--====*/
@media (max-width: 767px) {
  .mbHide {
    display: none; }

  .mbShow {
    display: block; }

  .WPERP_main_content .hero_section .hero_text,
  .WPERP_main_content .hero_section .hero_img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .WPERP_main_content .overview_wraper .overview_cont .item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .WPERP_main_content .module_wraper {
    padding: 70px 0; }
  .WPERP_main_content .reviewsClients_wraper .testimonial_item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }

  .WPERP_footer .footer_top .itemCol {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 30px; } }
/*====--End of Media_767px--====*/
/*====--End of Media_640px--====*/
@media (max-width: 440px) {
  .WPERP_footer .footer_top .itemCol {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 30px; }
  .WPERP_footer .footer_copyright .social_icon,
  .WPERP_footer .footer_copyright .copyright_text {
    display: block;
    text-align: center;
    width: 100%;
    margin: 10px 0; } }
/*====--End of Media_440px--====*/
