@charset "UTF-8";
@font-face {
  font-family: 'ProximaNova-Semibold';
  src: url("../../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../../fonts/ProximaNova-Semibold.otf") format("opentype"), url("../../fonts/ProximaNova-Semibold.woff") format("woff"), url("../../fonts/ProximaNova-Semibold.ttf") format("truetype"), url("../../fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("../../fonts/slick.eot");
  src: url("../../fonts/slick.eot?#iefix") format("embedded-opentype"), url("../../fonts/slick.woff") format("woff"), url("../../fonts/slick.ttf") format("truetype"), url("../../fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px\9;
  /*lte IE 8*/
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }

.slick-prev:before, .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

.primary-color {
  color: #ffffff; }

.brand-color {
  color: #fe1a50; }

.dark {
  color: #1b1d22; }

.gray-light {
  color: #878a8e; }

.gray-color {
  color: #94969b; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

.lato {
  font-family: "Lato", sans-serif; }

.poppins {
  font-family: "Poppins", sans-serif; }

p {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 25px;
  font-weight: normal; }

a {
  text-decoration: none;
  color: inherit; }

.underline {
  text-decoration: underline !important; }

.hover-color:hover {
  color: #fe1a50; }

a:hover {
  color: #fe1a50; }

a:focus {
  outline: none !important; }

a.link {
  color: #fe1a50; }

a.link:hover {
  color: #fe1a50 !important; }

h1, h2.h3, h4, h5, h6, p {
  margin: 0; }

body {
  background: #ffffff; }

.btn.btn_glob {
  display: inline-block;
  font-size: 12px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #fe1a50;
  background: #ffffff;
  border: 1px solid #fe1a50;
  border-radius: 50px;
  text-transform: uppercase;
  padding: 12px 35px;
  text-decoration: none;
  transition: all 0.5s; }

.btn.btn_glob:hover {
  color: #ffffff;
  background: #fe1a50; }

.mbShow {
  display: none; }

/* End global style  */
/* Start template style  */
.header {
  /*  End header_top  */
  /* End header_menu  */ }
  .header .header_top {
    background: #1b1d22;
    padding: 25px 0; }
    .header .header_top .logo {
      margin-top: 8px; }
      .header .header_top .logo a {
        display: inline-block; }
        .header .header_top .logo a img {
          max-width: 99px;
          width: 100%; }
    .header .header_top .schedule_item .icon {
      margin-right: 15px;
      margin-top: 5px; }
      .header .header_top .schedule_item .icon img {
        max-width: 33px;
        width: 100%; }
    .header .header_top .schedule_item .item_text h5 {
      font-size: 16px;
      font-weight: 700;
      line-height: 25px; }
    .header .header_top .schedule_item .item_text p {
      font-size: 12px;
      font-weight: 400;
      line-height: 25px; }
    .header .header_top .border_left {
      border-left: 1px solid #3d4149;
      padding-left: 30px; }
  .header .header_menu {
    padding: 10px 0;
    position: absolute;
    width: 100%;
    background: #fff;
    box-shadow:0 2px 2px 0 rgba(0,0,0,.1);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);
    z-index: 1080; }
    .header .header_menu .header_navbar {
      padding: 0; }
      .header .header_menu .header_navbar .main_menu .navbar-nav li {
        margin-right: 40px; }
        .header .header_menu .header_navbar .main_menu .navbar-nav li a {
          font-size: 12px;
          font-family: "Lato", sans-serif;
          font-weight: 700;
          line-height: 14px;
          padding: 0;
          color: #1b1d22; }
        .header .header_menu .header_navbar .main_menu .navbar-nav li a.active,
        .header .header_menu .header_navbar .main_menu .navbar-nav li a:hover {
          color: #fe1a50; }
      .header .header_menu .header_navbar .main_menu .navbar-nav li:last-child {
        margin-right: 0; }
      .header .header_menu .header_navbar .main_menu .menu_right a {
        display: inline-block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-radius: 50%;
        background: #e9ecf2;
        position: relative;
        margin: 0 0 0 10px; }
        .header .header_menu .header_navbar .main_menu .menu_right a .cart_num {
          position: absolute;
          top: -5px;
          right: -8px;
          width: 20px;
          height: 20px;
          line-height: 18px;
          text-align: center;
          border-radius: 50%;
          background: #fe1a50;
          font-size: 12px;
          font-family: "Lato", sans-serif;
          color: #ffffff; }
        .header .header_menu .header_navbar .main_menu .menu_right a .search {
          position: absolute;
          top: 0;
          right: 0;
          width: 0;
          height: 30px;
          border: 1px solid #e9ecf2;
          border-radius: 20px;
          padding: 0 15px;
          font-size: 12px;
          font-family: "Lato", sans-serif;
          font-weight: 400;
          opacity: 0;
          visibility: hidden;
          transition: all 0.5s; }
      .header .header_menu .header_navbar .main_menu .menu_right a:hover .search {
        top: 42px;
        width: 150px;
        opacity: 1;
        visibility: visible; }
      .header .header_menu .header_navbar .main_menu .menu_right a:first-child {
        margin-left: 0; }
  .header .header_menu.fixedMenu {
    position: fixed; }

/* End header  */
.main_content {
  /* End banner_wrap */
  /* End about_us_wrap */
  /*/ End servises_wrap */
  /* End our_team_wrap */
  /* End watch_video_wrap */
  /* End featured_wrap */
  /* End user_review_wrap */
  /* End latest_news_wrap */
  /* End newsletter_wrap */ }
  .main_content .banner_wrap .banner_slider {
    margin-bottom: 0; }
    .main_content .banner_wrap .banner_slider .banner_slider_item {
      background: url(../images/banner-img-1.jpg) no-repeat scroll center center/cover;
      display: flex;
      height: 740px;
      align-items: center;
      position: relative;
      z-index: 1; }
      .main_content .banner_wrap .banner_slider .banner_slider_item .banner_slider_conternt {
        max-width: 900px;
        width: 100%;
        margin: 0 auto; }
        .main_content .banner_wrap .banner_slider .banner_slider_item .banner_slider_conternt .banner_sub_title {
          font-size: 20px;
          font-family: "Poppins", sans-serif;
          letter-spacing: 8px;
          font-weight: 700;
          margin-bottom: 6px; }
        .main_content .banner_wrap .banner_slider .banner_slider_item .banner_slider_conternt .banner_title {
          font-family: "Poppins", sans-serif;
          font-size: 50px;
          font-weight: 800;
          margin-bottom: 18px; }
        .main_content .banner_wrap .banner_slider .banner_slider_item .banner_slider_conternt .banner_details {
          font-size: 20px;
          font-weight: 400;
          font-family: "Lato", sans-serif;
          line-height: 30px;
          margin-bottom: 50px; }
        .main_content .banner_wrap .banner_slider .banner_slider_item .banner_slider_conternt .learn_more_btn .btn {
          color: #ffffff;
          background: #fe1a50; }
        .main_content .banner_wrap .banner_slider .banner_slider_item .banner_slider_conternt .learn_more_btn .btn:hover {
          background: transparent; }
    .main_content .banner_wrap .banner_slider .banner_slider_item:before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url(../images/ellipse.png) no-repeat scroll center center;
      z-index: -1; }
    .main_content .banner_wrap .banner_slider .slick-dots {
      width: 30px;
      right: 10px;
      top: 45%;
      left: initial;
      bottom: initial; }
      .main_content .banner_wrap .banner_slider .slick-dots li {
        display: block;
        margin: 5px auto;
        width: 8px;
        height: 8px;
        background: #ffffff;
        border-radius: 50%;
        opacity: 0.5; }
        .main_content .banner_wrap .banner_slider .slick-dots li button {
          display: none; }
      .main_content .banner_wrap .banner_slider .slick-dots li.slick-active {
        background: transparent;
        width: 14px;
        height: 14px;
        border: 1px solid #fe1a50; }
  .main_content .about_us_wrap {
    padding-bottom: 60px; }
    .main_content .about_us_wrap .about_us_text {
      margin-top: 110px; }
      .main_content .about_us_wrap .about_us_text .about_us_title {
        font-size: 44px;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        margin-bottom: 30px; }
        .main_content .about_us_wrap .about_us_text .about_us_title b {
          display: block;
          font-weight: 700; }
      .main_content .about_us_wrap .about_us_text .about_us_deatails {
        margin-bottom: 28px; }
      .main_content .about_us_wrap .about_us_text .read_more_btn {
        padding-top: 17px; }
    .main_content .about_us_wrap .about_us_img {
      background: url(../images/bi-cycle-bg.png) no-repeat scroll top left 37px/495px auto;
      margin-top: -40px;
      padding-top: 135px; }
  .main_content .servises_wrap {
    background: #f9f9f9 url(../images/service-bg.jpg) no-repeat scroll top left/520px 100%;
    padding: 92px 0 22px; }
    .main_content .servises_wrap .service_title {
      font-size: 30px;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      margin-bottom: 72px; }
      .main_content .servises_wrap .service_title b {
        display: block;
        font-weight: 700; }
    .main_content .servises_wrap .service_item {
      margin-bottom: 72px; }
      .main_content .servises_wrap .service_item .service_img {
        width: 50px;
        height: 40px;
        overflow: hidden;
        margin-bottom: 35px; }
        .main_content .servises_wrap .service_item .service_img img {
          max-width: 100px; }
      .main_content .servises_wrap .service_item .servive_item_text .item_title {
        font-size: 20px;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        line-height: 25px;
        color: #1b1d22;
        margin-bottom: 20px; }
      .main_content .servises_wrap .service_item .servive_item_text .item_details {
        color: #878a8e; }
    .main_content .servises_wrap .service_item.active .service_img img,
    .main_content .servises_wrap .service_item:hover .service_img img {
      transform: translateX(-50px); }
    .main_content .servises_wrap .service_item.active .servive_item_text .item_title,
    .main_content .servises_wrap .service_item:hover .servive_item_text .item_title {
      color: #fe1a50; }
  .main_content .our_team_wrap {
    padding: 112px 0 150px; }
    .main_content .our_team_wrap .our_team_title {
      font-family: "Poppins", sans-serif;
      font-size: 30px;
      font-weight: 500;
      margin-bottom: 62px; }
      .main_content .our_team_wrap .our_team_title b {
        display: block;
        font-weight: 700; }
    .main_content .our_team_wrap .team_single_item {
      position: relative; }
      .main_content .our_team_wrap .team_single_item .item_img img {
        width: 100%; }
      .main_content .our_team_wrap .team_single_item .team_member_details {
        padding: 0 15px;
        position: absolute;
        bottom: -60px;
        left: 0;
        right: 0;
        width: 100%; }
        .main_content .our_team_wrap .team_single_item .team_member_details .member_details_inner {
          background: #ffffff;
          box-shadow: 4px 0 10px rgba(0, 10, 40, 0.1);
          border: 1px solid #e8eaee;
          padding: 24px 45px 18px;
          overflow: hidden;
          transition: all 0.5s; }
          .main_content .our_team_wrap .team_single_item .team_member_details .member_details_inner .member_name {
            font-size: 20px;
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            line-height: 25px; }
          .main_content .our_team_wrap .team_single_item .team_member_details .member_details_inner .member_social_link {
            margin: 23px 0 -82px;
            padding: 0;
            list-style: none;
            text-align: center;
            border-top: 1px solid #d6dbe8;
            transition: all 0.5s; }
            .main_content .our_team_wrap .team_single_item .team_member_details .member_details_inner .member_social_link li {
              display: inline-block;
              padding: 25px 8px 7px; }
              .main_content .our_team_wrap .team_single_item .team_member_details .member_details_inner .member_social_link li a {
                display: inline-block; }
    .main_content .our_team_wrap .team_single_item:hover .team_member_details .member_details_inner {
      background: #f9f9f9;
      box-shadow: none; }
      .main_content .our_team_wrap .team_single_item:hover .team_member_details .member_details_inner .member_social_link {
        margin-bottom: 0; }
  .main_content .watch_video_wrap .video_content {
    position: relative; }
    .main_content .watch_video_wrap .video_content .play_icon {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center; }
      .main_content .watch_video_wrap .video_content .play_icon .icon_middle {
        display: flex;
        align-items: center;
        margin: 0 auto; }
        .main_content .watch_video_wrap .video_content .play_icon .icon_middle h4 {
          font-size: 30px;
          font-family: "Poppins", sans-serif;
          font-weight: 700;
          max-width: 200px;
          margin-right: -80px;
          position: relative;
          line-height: 28px; }
        .main_content .watch_video_wrap .video_content .play_icon .icon_middle img {
          max-width: 180px;
          width: 100%; }
    .main_content .watch_video_wrap .video_content .play_icon .icon_middle:hover {
      opacity: 0.8; }
  .main_content .featured_wrap {
    padding: 113px 0 60px; }
    .main_content .featured_wrap .featured_title {
      font-size: 30px;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      margin-bottom: 113px; }
      .main_content .featured_wrap .featured_title b {
        display: block;
        font-weight: 700; }
    .main_content .featured_wrap .faq_body .faq_title {
      font-family: "Poppins", sans-serif;
      font-size: 20px;
      font-weight: 600;
      line-height: 26px;
      margin-bottom: 28px; }
    .main_content .featured_wrap .faq_body .card {
      border: none; }
      .main_content .featured_wrap .faq_body .card .card-header {
        background: transparent;
        padding: 0;
        border: none; }
        .main_content .featured_wrap .faq_body .card .card-header h4 {
          padding-top: 15px;
          padding-bottom: 15px;
          font-family: "Poppins", sans-serif;
          font-size: 20px;
          font-weight: 600;
          line-height: 26px;
          transition: all 0.5s;
          cursor: pointer; }
        .main_content .featured_wrap .faq_body .card .card-header h4[aria-expanded="true"] {
          padding-left: 30px;
          padding-right: 30px;
          background: #fe1a50;
          color: #ffffff;
          position: relative; }
        .main_content .featured_wrap .faq_body .card .card-header h4[aria-expanded="true"]::before {
          position: absolute;
          content: "";
          width: 0;
          height: 0;
          bottom: -5px;
          right: 30px;
          border-top: 5px solid #fe1a50;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent; }
      .main_content .featured_wrap .faq_body .card .card-body {
        padding-left: 30px; }
    .main_content .featured_wrap .featured_img {
      position: relative; }
      .main_content .featured_wrap .featured_img .featured {
        position: absolute; }
      .main_content .featured_wrap .featured_img .featured_1 {
        top: -20px;
        left: -50px; }
        .main_content .featured_wrap .featured_img .featured_1 img {
          position: absolute;
          right: -90px; }
      .main_content .featured_wrap .featured_img .featured_2 {
        top: -75px;
        right: 145px; }
        .main_content .featured_wrap .featured_img .featured_2 img {
          position: absolute;
          right: -30px; }
      .main_content .featured_wrap .featured_img .featured_3 {
        bottom: 60px;
        left: 245px; }
        .main_content .featured_wrap .featured_img .featured_3 img {
          position: absolute;
          top: -75px;
          left: -60px; }
  .main_content .user_review_wrap {
    background: #f9f9f9;
    padding: 90px 0 170px; }
    .main_content .user_review_wrap .user_review_title {
      font-family: "Poppins", sans-serif;
      font-size: 30px;
      font-weight: 500;
      margin-bottom: 63px; }
      .main_content .user_review_wrap .user_review_title b {
        display: block;
        font-weight: 700; }
    .main_content .user_review_wrap .thumbnail_slider_wrap {
      max-width: 500px;
      width: 100%;
      margin: 0 auto 53px; }
      .main_content .user_review_wrap .thumbnail_slider_wrap .thumbnail_slider .thumbnail_slider_item {
        margin: 0 10px; }
        .main_content .user_review_wrap .thumbnail_slider_wrap .thumbnail_slider .thumbnail_slider_item .user_pro_img {
          position: relative; }
      .main_content .user_review_wrap .thumbnail_slider_wrap .thumbnail_slider .thumbnail_slider_item.slick-slide.slick-current .user_pro_img:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(254, 26, 80, 0.8) url(../images/comma.png) no-repeat scroll center center/16px auto; }
    .main_content .user_review_wrap .user_details_slider_wrap {
      max-width: 780px;
      width: 100%;
      margin: 0 auto; }
      .main_content .user_review_wrap .user_details_slider_wrap .user_details_slider .user_details_slider_item .user_details_content h4 {
        font-family: "Poppins", sans-serif;
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 15px; }
        .main_content .user_review_wrap .user_details_slider_wrap .user_details_slider .user_details_slider_item .user_details_content h4 .user_name {
          font-weight: 600; }
        .main_content .user_review_wrap .user_details_slider_wrap .user_details_slider .user_details_slider_item .user_details_content h4 .user_title {
          font-size: 14px;
          font-family: "Lato", sans-serif;
          font-weight: 400; }
      .main_content .user_review_wrap .user_details_slider_wrap .user_details_slider .slick-prev,
      .main_content .user_review_wrap .user_details_slider_wrap .user_details_slider .slick-next {
        width: 40px;
        height: 40px;
        background: #f2f4f7;
        border-radius: 50%;
        border: 1px solid #dee0e6;
        top: initial;
        bottom: -123px; }
      .main_content .user_review_wrap .user_details_slider_wrap .user_details_slider .slick-prev {
        left: 44%; }
      .main_content .user_review_wrap .user_details_slider_wrap .user_details_slider .slick-next {
        right: 44%; }
      .main_content .user_review_wrap .user_details_slider_wrap .user_details_slider .slick-prev:before,
      .main_content .user_review_wrap .user_details_slider_wrap .user_details_slider .slick-next:before {
        color: #6c707a;
        font-family: initial; }
      .main_content .user_review_wrap .user_details_slider_wrap .user_details_slider .slick-prev:hover,
      .main_content .user_review_wrap .user_details_slider_wrap .user_details_slider .slick-next:hover {
        background: #fe1a50;
        border: 1px solid #fe1a50; }
      .main_content .user_review_wrap .user_details_slider_wrap .user_details_slider .slick-prev:hover:before,
      .main_content .user_review_wrap .user_details_slider_wrap .user_details_slider .slick-next:hover:before {
        color: #ffffff; }
  .main_content .latest_news_wrap {
    padding: 110px 0; }
    .main_content .latest_news_wrap .latest_news_title {
      font-family: "Poppins", sans-serif;
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 65px; }
      .main_content .latest_news_wrap .latest_news_title b {
        display: block;
        font-weight: 700; }
    .main_content .latest_news_wrap .latest_news_slider .news_slider_item {
      margin-bottom: 20px; }
      .main_content .latest_news_wrap .latest_news_slider .news_slider_item .news_item .news_slider_text {
        padding-top: 30px; }
        .main_content .latest_news_wrap .latest_news_slider .news_slider_item .news_item .news_slider_text .post_date {
          font-size: 15px; }
        .main_content .latest_news_wrap .latest_news_slider .news_slider_item .news_item .news_slider_text hr {
          border-color: #d5d8e0; }
        .main_content .latest_news_wrap .latest_news_slider .news_slider_item .news_item .news_slider_text .post_title {
          font-family: "Poppins", sans-serif;
          font-size: 20px;
          font-weight: 600;
          line-height: 30px;
          margin-bottom: 30px; }
        .main_content .latest_news_wrap .latest_news_slider .news_slider_item .news_item .news_slider_text .post_title:hover {
          color: #fe1a50; }
        .main_content .latest_news_wrap .latest_news_slider .news_slider_item .news_item .news_slider_text .post_details {
          margin-bottom: 30px; }
    .main_content .latest_news_wrap .latest_news_slider .slick-dots {
      width: 100%;
      right: 0;
      left: 0; }
      .main_content .latest_news_wrap .latest_news_slider .slick-dots li {
        margin: 0 5px;
        width: 8px;
        height: 8px;
        background: #c5c9d4;
        border-radius: 50%; }
        .main_content .latest_news_wrap .latest_news_slider .slick-dots li button {
          display: none; }
      .main_content .latest_news_wrap .latest_news_slider .slick-dots li.slick-active {
        background: transparent;
        width: 14px;
        height: 14px;
        border: 1px solid #fe1a50;
        margin: -3px 5px; }
  .main_content .newsletter_wrap {
    background: #f9f9f9 url(../images/pattern.png) no-repeat scroll center center/cover;
    padding: 78px 0 140px; }
    .main_content .newsletter_wrap .container .subscribe {
      font-family: "Poppins", sans-serif;
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 3px; }
    .main_content .newsletter_wrap .container .newsletter_title {
      font-family: "Poppins", sans-serif;
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 15px; }
    .main_content .newsletter_wrap .container .newsletter_note {
      max-width: 460px;
      width: 100%;
      margin: 0 auto 55px; }
    .main_content .newsletter_wrap .container .email_input .send_mail {
      position: relative; }
      .main_content .newsletter_wrap .container .email_input .send_mail .form-control {
        height: 76px;
        border-radius: 50px;
        border: 2px solid #ededef;
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-size: 18px;
        padding: 0 80px 0 40px;
        box-shadow: 20px 0 60px rgba(0, 16, 57, 0.14); }
      .main_content .newsletter_wrap .container .email_input .send_mail a {
        position: absolute;
        top: 3px;
        right: 5px;
        display: inline-block;
        width: 70px;
        height: 70px;
        line-height: 70px;
        align-items: center;
        text-align: center;
        border-radius: 50%;
        background: #fe1a50; }
        .main_content .newsletter_wrap .container .email_input .send_mail a img {
          display: inline-block; }

/* End main_content */
.footer {
  /* End footer_top */
  /* End footer_bottom */ }
  .footer .footer_top {
    background: url(../images/footer-top-bg.jpg) no-repeat scroll top center/cover;
    padding: 120px 0 100px; }
    .footer .footer_top .contact_wrap .footer_logo {
      margin-bottom: 22px; }
    .footer .footer_top .contact_wrap p {
      color: #ccced5;
      font-size: 14px;
      margin-bottom: 10px; }
      .footer .footer_top .contact_wrap p a {
        color: #ccced5; }
    .footer .footer_top h4 {
      font-family: "Poppins", sans-serif;
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 30px; }
    .footer .footer_top ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      .footer .footer_top ul li {
        margin-bottom: 7px; }
        .footer .footer_top ul li a {
          color: #ccced5;
          font-family: "Lato", sans-serif;
          font-weight: 400;
          font-size: 12px;
          text-transform: uppercase; }
        .footer .footer_top ul li a:hover {
          color: #fe1a50; }
    .footer .footer_top .infomation {
      padding-left: 30px; }
    .footer .footer_top .flicker_widget .row {
      margin: 0 -5px; }
      .footer .footer_top .flicker_widget .row .col-4 {
        padding: 0 5px; }
        .footer .footer_top .flicker_widget .row .col-4 .widget_item {
          margin-bottom: 10px;
          display: inline-block;
          width: 100%; }
          .footer .footer_top .flicker_widget .row .col-4 .widget_item img {
            width: 100%; }
  .footer .footer_bottom {
    background: #1f2126;
    border-top: 1px solid #34373d;
    border-bottom: 1px solid #34373d; }
    .footer .footer_bottom .footer_bottom_inner {
      position: relative; }
      .footer .footer_bottom .footer_bottom_inner .copy_right {
        position: absolute;
        top: 0;
        left: 0;
        line-height: 70px; }
      .footer .footer_bottom .footer_bottom_inner .footer_social_menu {
        margin: 0;
        padding: 0;
        list-style: none; }
        .footer .footer_bottom .footer_bottom_inner .footer_social_menu li {
          display: inline-block; }
          .footer .footer_bottom .footer_bottom_inner .footer_social_menu li a {
            display: block;
            font-size: 20px;
            width: 60px;
            height: 70px;
            line-height: 70px;
            background: #26282e;
            color: #a3a6af; }
          .footer .footer_bottom .footer_bottom_inner .footer_social_menu li a:hover {
            background: #fe1a50;
            color: #ffffff; }
      .footer .footer_bottom .footer_bottom_inner .go_to_top {
        position: absolute;
        line-height: 70px;
        bottom: 0;
        right: 0; }
        .footer .footer_bottom .footer_bottom_inner .go_to_top a {
          display: inline-block;
          width: 40px;
          height: 40px;
          line-height: 40px;
          text-align: center;
          border-radius: 50%;
          background: #2a2c32;
          color: #ffffff;
          margin-left: 5px; }
        .footer .footer_bottom .footer_bottom_inner .go_to_top a:hover {
          background: #fe1a50; }

/* End footer */
/* End template style  */
@media (min-width: 1367px) {
  .header .header_top .schedule_item .item_text h5 {
    font-size: 20px; }
  .header .header_top .schedule_item .item_text p {
    font-size: 14px; }

  .main_content .servises_wrap {
    background-size: 745px 100%; }
  .main_content .featured_wrap .featured_img .featured_2 {
    right: 160px; } }
/*====--End of @media (min-width:1367px)--====*/
/*====--End of  @media (min-width:1380px) and (max-width:1540px) --====*/
/*====--End of @media (min-width:768px) and (max-width:1200px)--====*/
@media (min-width: 768px) and (max-width: 1024px) {
  .header .header_top .border_left {
    padding-left: 15px; }

  .main_content .about_us_wrap {
    margin-bottom: 50px; }
  .main_content .servises_wrap {
    background-image: none; }
  .main_content .our_team_wrap {
    padding: 50px 0 140px; }
  .main_content .watch_video_wrap .video_content .play_icon .icon_middle img {
    max-width: 130px; }
  .main_content .user_review_wrap {
    background: #f9f9f9;
    padding: 50px 0 115px; }
  .main_content .featured_wrap {
    padding: 90px 0 50px; }
    .main_content .featured_wrap .featured_img .featured_1 {
      top: -30px;
      left: -75px; }
    .main_content .featured_wrap .featured_img .featured_2 {
      top: -85px;
      right: 140px; }
    .main_content .featured_wrap .featured_img .featured_3 {
      bottom: 35px;
      left: 215px; }
  .main_content .latest_news_wrap {
    padding: 50px 0; }
  .main_content .newsletter_wrap {
    padding: 50px 0; }

  .footer .footer_top {
    padding: 60px 0; } }
/*====--End of @media (min-width:768px) and (max-width:1024px)--====*/
@media (min-width: 992px) and (max-width: 1024px) {
  .main_content .latest_news_wrap {
    padding: 50px 0; }
    .main_content .latest_news_wrap .latest_news_slider .news_slider_item .news_item .news_slider_text {
      padding-top: 10px; }
      .main_content .latest_news_wrap .latest_news_slider .news_slider_item .news_item .news_slider_text .post_title,
      .main_content .latest_news_wrap .latest_news_slider .news_slider_item .news_item .news_slider_text .post_details {
        margin-bottom: 10px; } }
/*====--End of @media (min-width:992px) and (max-width:1024px) --====*/
@media (min-width: 768px) and (max-width: 991px) {
  .header .header_top .mbHide {
    display: none; }
  .header .header_top .schedule_item .icon {
    margin-right: 10px; }
  .header .header_top .col-md-7.col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .header .header_menu .header_navbar .mbShow {
    display: block; }
  .header .header_menu .header_navbar .main_menu {
    margin-top: 15px;
    border-top: 1px solid #000; }
  .header .header_menu .header_navbar .navbar-toggler {
    right: 0;
    position: absolute;
    top: 0;
    outline: none; }

  .main_content .featured_wrap .featured_img .featured_1 {
    top: -35px;
    left: -105px; }
  .main_content .featured_wrap .featured_img .featured_2 {
    top: -95px;
    right: 110px; }
  .main_content .featured_wrap .featured_img .featured_3 {
    bottom: 0;
    left: 175px; }
  .main_content .user_review_wrap .user_details_slider_wrap .user_details_slider .slick-prev {
    left: 43%; }
  .main_content .user_review_wrap .user_details_slider_wrap .user_details_slider .slick-next {
    right: 43%; }

  .footer .footer_top .usefull_link {
    margin-bottom: 50px; } }
/*====--End of @media (min-width:768px) and (max-width:991px) --====*/
@media (max-width: 991px) {
  .header .header_menu .header_navbar .main_menu .navbar-nav li {
    padding: 15px 0 15px 15px; }
  .header .header_menu .header_navbar .main_menu .menu_right {
    margin: 20px 0; }

  .main_content .our_team_wrap {
    padding: 50px 0; }
    .main_content .our_team_wrap .team_single_item {
      position: relative;
      margin-bottom: 100px; }

  .footer .footer_bottom .footer_bottom_inner {
    padding-top: 25px; }
    .footer .footer_bottom .footer_bottom_inner .copy_right {
      position: static; } }
/*====--End of @media (max-width:991px)--====*/
/*====--End of min-width:768px--====*/
@media (max-width: 767px) {
  .mbHide {
    display: none; }

  .mbShow {
    display: block; }

  .header .header_top {
    padding: 10px 0; }
    .header .header_top .container {
      max-width: 100%; }
    .header .header_top .schedule_item {
      margin-top: 0; }
      .header .header_top .schedule_item .icon img {
        max-width: 24px; }
      .header .header_top .schedule_item .item_text h5 {
        font-size: 14px;
        line-height: 20px; }
      .header .header_top .schedule_item .item_text p {
        font-size: 10px;
        line-height: 15px; }
  .header .header_menu .container {
    max-width: 100%; }
  .header .header_menu .header_navbar .main_menu {
    margin-top: 15px;
    border-top: 1px solid #000; }
  .header .header_menu .header_navbar .navbar-toggler {
    right: 0;
    position: absolute;
    top: 0;
    outline: none; }

  .main_content .banner_wrap .banner_slider .banner_slider_item {
    height: auto;
    padding: 50px 0; }
    .main_content .banner_wrap .banner_slider .banner_slider_item .banner_slider_conternt .banner_sub_title {
      font-size: 16px;
      letter-spacing: 4px; }
    .main_content .banner_wrap .banner_slider .banner_slider_item .banner_slider_conternt .banner_title {
      font-size: 24px; }
    .main_content .banner_wrap .banner_slider .banner_slider_item .banner_slider_conternt .banner_details {
      font-size: 16px;
      padding: 0 10px; }
  .main_content .banner_wrap .banner_slider .banner_slider_item:before {
    background-size: 280px auto; }
  .main_content .about_us_wrap .about_us_text {
    margin: 50px 0; }
    .main_content .about_us_wrap .about_us_text .about_us_title {
      font-size: 30px; }
  .main_content .about_us_wrap .about_us_img {
    margin: 0 0 30px;
    padding-top: 25px;
    background-size: 100% 100%; }
  .main_content .servises_wrap {
    background: #f9f9f9;
    padding: 30px 0 20px; }
    .main_content .servises_wrap .service_item {
      margin-bottom: 40px; }
  .main_content .watch_video_wrap .video_content .play_icon .icon_middle h4 {
    font-size: 24px; }
  .main_content .watch_video_wrap .video_content .play_icon .icon_middle img {
    max-width: 75px; }
  .main_content .featured_wrap {
    padding: 30px 0 0; }
    .main_content .featured_wrap .featured_title {
      margin-bottom: 35px; }
    .main_content .featured_wrap .faq_body {
      margin-bottom: 100px; }
    .main_content .featured_wrap .featured_img .featured_1 {
      left: 40px;
      top: -10px; }
      .main_content .featured_wrap .featured_img .featured_1 img {
        max-width: 100px;
        width: 100%;
        right: 7px; }
    .main_content .featured_wrap .featured_img .featured_2 {
      top: -60px;
      right: 155px; }
      .main_content .featured_wrap .featured_img .featured_2 img {
        max-width: 80px;
        width: 100%; }
    .main_content .featured_wrap .featured_img .featured_3 {
      bottom: 70px;
      left: 230px; }
      .main_content .featured_wrap .featured_img .featured_3 img {
        top: -50px;
        max-width: 80px;
        width: 100%; }
  .main_content .user_review_wrap {
    padding: 25px 0 70px; }
    .main_content .user_review_wrap .user_review_title {
      margin-bottom: 30px; }
    .main_content .user_review_wrap .thumbnail_slider_wrap .thumbnail_slider .thumbnail_slider_item .user_pro_img img {
      width: 100%; }
    .main_content .user_review_wrap .user_details_slider_wrap .user_details_slider .slick-prev,
    .main_content .user_review_wrap .user_details_slider_wrap .user_details_slider .slick-next {
      bottom: -100px; }
    .main_content .user_review_wrap .user_details_slider_wrap .user_details_slider .slick-next {
      right: 40%; }
    .main_content .user_review_wrap .user_details_slider_wrap .user_details_slider .slick-prev {
      left: 40%; }
  .main_content .latest_news_wrap {
    padding: 25px 0; }
    .main_content .latest_news_wrap .latest_news_title {
      margin-bottom: 30px; }
    .main_content .latest_news_wrap .latest_news_slider .news_slider_item .news_item .news_slider_text {
      padding-top: 10px; }
      .main_content .latest_news_wrap .latest_news_slider .news_slider_item .news_item .news_slider_text .post_title,
      .main_content .latest_news_wrap .latest_news_slider .news_slider_item .news_item .news_slider_text .post_details {
        margin-bottom: 10px; }
  .main_content .newsletter_wrap {
    padding: 30px 0; }
    .main_content .newsletter_wrap .container .newsletter_note {
      margin-bottom: 10px; }
    .main_content .newsletter_wrap .container .email_input .send_mail .form-control {
      height: 44px;
      font-size: 16px;
      padding: 0 50px 0 20px; }
    .main_content .newsletter_wrap .container .email_input .send_mail a {
      width: 38px;
      height: 38px;
      line-height: 38px; }
      .main_content .newsletter_wrap .container .email_input .send_mail a img {
        max-width: 15px;
        width: 100%; }

  .footer .footer_top {
    padding: 45px 0; }
    .footer .footer_top h4 {
      margin-bottom: 10px; }
    .footer .footer_top .contact_wrap,
    .footer .footer_top .usefull_link,
    .footer .footer_top .infomation {
      margin-bottom: 40px; }
    .footer .footer_top .infomation {
      padding-left: 0; }
  .footer .footer_bottom .footer_bottom_inner {
    padding-bottom: 40px; }
    .footer .footer_bottom .footer_bottom_inner .footer_social_menu li a {
      width: 50px;
      height: 50px;
      line-height: 50px; }
    .footer .footer_bottom .footer_bottom_inner .copy_right {
      text-align: center; } }
/*====--End of Media_767px--====*/
/*====--End of Media_640px--====*/
@media (max-width: 440px) {
  .main_content .featured_wrap .featured_img .featured_1 {
    left: 0;
    top: -20px; }
    .main_content .featured_wrap .featured_img .featured_1 img {
      right: 0; }
  .main_content .featured_wrap .featured_img .featured_2 {
    top: -70px;
    right: 125px; }
  .main_content .featured_wrap .featured_img .featured_3 {
    bottom: 30px;
    left: 185px; } }
/*====--End of Media_440px--====*/
@media (max-width: 380px) {
  .header .header_top .schedule_item .icon {
    margin-right: 6px;
    margin-top: 0px; }
    .header .header_top .schedule_item .icon img {
      max-width: 15px; }
  .header .header_top .schedule_item .item_text h5 {
    font-size: 12px;
    line-height: 14px; }
  .header .header_top .schedule_item .item_text p {
    font-size: 10px;
    line-height: 12px; }

  .main_content .banner_wrap .banner_slider .banner_slider_item .banner_slider_conternt .banner_title {
    font-size: 20px; }
  .main_content .banner_wrap .banner_slider .banner_slider_item .banner_slider_conternt .banner_details {
    line-height: 20px; }
  .main_content .featured_wrap .featured_img .featured_1 img {
    right: 15px;
    max-width: 85px; }
  .main_content .featured_wrap .featured_img .featured_2 {
    top: -65px;
    right: 115px; }
    .main_content .featured_wrap .featured_img .featured_2 img {
      max-width: 70px; } }
/*====--End of Media_340px to Media_640px--====*/
/*====--End of Media_340px to Media_640px--====*/
/*====--End of Media_460px--====*/
/*====--End of Media_420px--====*/
/*====--End of Media_400px--====*/
/*====--End of Media_340px--====*/
